<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form id="myForm">
    <table >
        <tr>
            <td>id</td>
            <td><input class="form-control" name="id" id="id2"></td>
        </tr>
        <tr>
            <td>姓名</td>
            <td><input class="form-control" name="name" id="name2"></td>
        </tr>
        <tr>
            <td>年龄</td>
            <td><input class="form-control" name="age" id="age2"></td>
        </tr>
        <tr>
            <td>成绩</td>
            <td><input class="form-control" name="score" id="score2"></td>
        </tr>
    </table>
</form>
</body>
<script>
</script>
</html>